= render 'rooms_search_bar'
-# = render 'rooms_search_filters'
.rooms-results{"data-controller" => "layout" }
  -# = render 'results_layout_toggle'
  .span
  .rooms-index-rows-header
    .rooms-index-row-name
      %h2 Name
    .rooms-index-row-capacity
      %h2 Capacity
    .rooms-index-row-facility-code-heprod
      %h2 Facility Code
    .rooms-index-row-calandar-url
      %h2 Calandar

  = render 'classrooms_results'
  .rooms-index-cards
    = render partial: "./rooms/rooms_index_card", collection: @rooms, as: :room, cached: true
  .rooms-index-map
