- content_for :head do
  = javascript_pack_tag 'search', 'data-turbolinks-track': 'reload'
.mt-64.p-0{data: {controller: "dropdown" }}
  = render './search/search_filters_2'

  .rooms-results
    -# = render 'results_layout_toggle'
    = render 'classrooms_results'
    .rooms-index-cards
      = render partial: "./rooms/rooms_index_card", collection: @rooms, as: :room, cached: true
    .rooms-index-map
