- content_for :head do
  = javascript_pack_tag 'search_vue', 'data-turbolinks-track': 'reload'

= render 'rooms-search-bar'
-# = render 'rooms-search-filters'
.rooms-index-row
  .rooms-index-row-name
    %h2 Name
  .rooms-index-row-capacity
    %h2 Capacity
  .rooms-index-row-facility-code-heprod
    %h2 Facility Code
= render partial: "./rooms/rooms_index_row", collection: @rooms, as: :room, cached: true

= render partial: "./rooms/rooms_index_card", collection: @rooms, as: :room, cached: true
