%h1 Rooms#show
%p Find me in app/views/rooms/show.html.haml

= @room.room_number

= render partial: 'alerts/alerts', locals: {alertable: @room}
= render partial: 'alerts/form', locals: {alertable: @room}
