.classroom-type
  %span.filters-section-header Team Learning
  .characteristics-arrangement

    = render partial: './search/filter_checkbox', locals: {filter_item: "team_board", label: "Team Board", tooltip: "Room has whiteboards, blackboards or writable walls for students  working in small groups."}, cached: true

    = render partial: './search/filter_checkbox', locals: {filter_item: "team_tables", label: "Team Tables", tooltip: "Room has tables arranged for students to work in groups. Tables may or may not be moveable, room may feature turn-to-team tables."}, cached: true

    = render partial: './search/filter_checkbox', locals: {filter_item: "team_technology", label: "Team Technology", tooltip: "Room has multiple computers and monitors for students to use technology in small groups."}, cached: true