.projection-type
  %span.filters-section-header Projection
  .characteristics-arrangement
    = render partial: './search/filter_checkbox', locals: {filter_item: "projector_35mm", label: "35mm Film", tooltip: "Room contains 35mm film projector."}, cached: true

    = render partial: './search/filter_checkbox', locals: {filter_item: "projector_digital_cinema", label: "Digital Cinema (DCP)", tooltip: "Room contains Digital Cinema projector."}, cached: true

    = render partial: './search/filter_checkbox', locals: {filter_item: "projector_digial", label: "Digital Data & Video", tooltip: "Room contains projector or monitor to digitally display video from any of the room A/V and IT components, such as computer or DVD/VCR."}, cached: true

    = render partial: './search/filter_checkbox', locals: {filter_item: "projector_slide", label: "Slide Projector", tooltip: "Room contains a traditional slide projector for the display of photographic slides."}, cached: true