.writing-surface
  %span.filters-section-header Writing Surface
  .characteristics-arrangement{:class => "sm:w-full "}

    = render partial: './search/filter_checkbox', locals: {filter_item: "whiteboard", label: "Whiteboard", tooltip: "Room contains a whiteboard writing surface of any size."}, cached: true

    = render partial: './search/filter_checkbox', locals: {filter_item: "chalkboard", label: "Chalkboard", tooltip: "Room contains a chalkboard writing surface of any size."}, cached: true
