.coming-soon
  %h1.announcement
    The Classroom Database will be all new!

  %h2
    Coming Fall 2019

  %ul
    %li Better navigation
    %li Improved mobile experience
    %li Enhanced floor maps
    %li Building and Room alerts