%h1 Pages#about
%p Find me in app/views/pages/about.html.haml


.alert.alert-warning.alert-dismissible.fade.show{:role => "alert"}
  %strong Holy guacamole!
  You should check in on some of those fields below.
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"} &#215;

.card{:style => "width: 18rem;"}
  %img.card-img-top{:alt => "Card image cap", :src => "https://via.placeholder.com/468x60?text=Visit+Blogging.com+Now"}/

  .card-body
    %h5.card-title Card title
    %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    %a.btn.btn-primary{:href => "#"} Go somewhere
