-# - content_for :head do
-#   = javascript_pack_tag 'search_vue', 'data-turbolinks-track': 'reload'

%section
  .hero-image
    /! Promo Block Info
    .landing-page--banner
      .landing-page--brand
        = link_to image_tag(asset_pack_path('media/mi_locations/images/MiLocationsNamePlateBlue.png'), class: 'header-logo', alt: 'MiLocations Logo, link to home page.'), root_path
        / = link_to('Locations', root_path, class: 'site-name', id: root_path(anchor: 'page-top') )
      %h1.landing-page-headline Classroom Database

    = render 'coming_soon'
    -if Rails.env.development?
      -# = render './buildings/buildings_search_bar'

  search
