%h4
  MClassrooms Website Privacy Policy

%p
  Privacy Policy for the University of Michigan MClassroom Web Site The University of Michigan is committed to ensuring the privacy and accuracy of your confidential information. We do not actively share personal information gathered from our Web servers. However, because The University of Michigan is a public institution, some information collected from our Web site, including the summary server log information, e-mails sent to the Web site, and information collected from Web-based forms, may be subject to the Freedom of Information Act. This means that while we do not actively share information, in some cases we may be compelled by law to release information gathered from our Web servers.

%p
  As part of our commitment to maintaining the privacy of our Web users, the MClassrooms site follows these guidelines:
  %ul
    %li
      = link_to "Statement of Student Rights and Records", "http://www.ro.umich.edu/ferpa/", :target => "_blank"
    %li
      = link_to "Information Technologies Policies at The University of Michigan", "http://www.itd.umich.edu/itpolicies/", :target => "_blank"

%p
  The University of Michigan also complies with the Family Educational Rights and Privacy Act (FERPA), which prohibits the release of education records without student permission. Although FERPA regulations apply only to U-M students, The University of Michigan is equally committed to protecting the privacy of all visitors to our Web site.
