= search_form_for @q do |f|

  .search-group
    = f.search_field :name_or_nick_name_or_abbreviation_cont, class: 'search-field', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"
    .search-button.-mr-px
      %span
        %i.fas.fa-search
        = f.submit class: 'SearchMe'
