.pagination-bar

  = paginate @buildings
  -# = page_entries_info @buildings
  .per-page

    = select_tag :per_page, options_for_select([15,25,50,100], @per_page.to_i), class: 'per_page', :style => "width: 60px;", onchange: 'this.form.submit();'
    Per Page