-# - content_for :head do
-#   = javascript_pack_tag 'buildings_vue', 'data-turbolinks-track': 'reload'
%div
  -# .buildings-results-map#mapdisplay
    MAP
  -# .buildings-search-bar
    = render './buildings/buildings_search_bar'

    = render 'buildings_search_tool_bar'
    = render 'buildings_search_pagination_bar.html.haml'

  = render 'buildings_results.html.haml'
