%h1 Buildings#show
%p Find me in app/views/buildings/show.html.haml
= @building.name

= render partial: 'alerts/alerts', locals: {alertable: @building}
= render partial: 'alerts/form', locals: {alertable: @building}
