- if alertable.alerts.any?
  - alertable.alerts.each do |alert|
    %div{:class => "alert alert-#{alert.severity} alert-dismissible fade show", :role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &#215;
      %strong
        = alert.message

        .delete-button
          = link_to 'Delete',  alert_path(alert.id), data: { confirm: 'Are you sure?' }, method: :delete
