.alert-form
  = form_for [alertable, Alert.new] do |f|
    .alert-level
      -# = f.label 'Alert Level'

      = f.select :severity, options_for_select([['Informational', 'info'],['Warning', 'warning'],['Danger', 'danger'],['All Clear', 'success'],],), { :include_blank => "Alert Level" }, {required: 'true', autofocus: 'true', class: 'form-select'}

    .alert-content
      = f.rich_text_area :message, placeholder: 'Type your alert here: Limit of 280 Characters', class: 'form-textarea'
      .actions
        = f.submit 'Save Alert', class: "submit-alert"
