
= link_to [@building, floor] do
  %li.building-floors-list
    = "#{floor.label} floor"
    -# .buidling-floor-actions
    = link_to 'Edit', [:edit, @building, floor]
    -# = link_to 'Destroy', [@building, floor], method: :delete, data: { confirm: 'Are you sure?' }
