@import 'variables'

.new_alert
  display: grid
  // grid-template-columns: 1fr 1fr

form
  padding: 1em
  background: #f9f9f9
  border: 1px solid #c1c1c1
  margin: 2rem auto 2rem auto
  // max-width: 80%
  padding: 1em

  select
    background: transparentize(green, 0.5)
    border: 1px solid #9c9c9c

input
  &:submit
  background: transparentize($spring_term_green, 0.5)
  padding: 0.7em
  width: 100%
  border: 0
  // &:hover
  //   background: gold

label
  padding: 0.5em 0.5em 0.5em 0

input
  padding: 0.7em
  margin-bottom: 0.5rem

input:focus
  outline: 3px solid gold

.alert
  background-color: $alert
  font-size: $font-size-base
  color: white
  margin: 0.5rem 0 0 0
  padding: 0.5rem
  border-radius: 5px
  a
    color: $header-link-color
    text-decoration: none
  a:hover
    color: transparentize($header-link-color, 0.2)
.alert-success
  background-color: $alert-success
.alert-danger
  background-color: $alert-danger
.alert-warning
  background-color: $alert-warning
.alert-info
  background-color: $alert-info

button.close
  float: right

@media (min-width: 900px)
  form
    // grid-template-columns: 200px 1fr
    // grid-gap: 16px

  label
    text-align: right
    grid-column: 1 / 2

  input,
  button
    grid-column: 2 / 3
