@import '~bootstrap/scss/functions'
@import '~bootstrap/scss/bootstrap'
@import 'variables'

.modal-backdrop
  z-index: -1 !important

// You Forgot The Alt Message
img[alt=""], img:not([alt])
  border: 5px dashed #c00

.navbar-logo
  height: 55px
  max-height: 75px

.debug_dump
  clear: both
  float: left
  width: 100%
  background-color: transparentize(grey, 0.3)

.content
  margin-top: 75px

footer
  .footer-logo
    @include make-col(2)
    padding-left: 2rem
  .footer-links

  .footer-contact
    @include make-col(2)

// ROOM SEARCH
.rooms-search-bar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  background-color: lighten($heather_blue, 0%)
  padding: 1rem
  color: $bone

.rooms-search-field
  @include make-col(3)

.rooms-search-filters
  display: flex
  flex-direction: column
  background-color: lighten($heather_blue, 40%)
  font-size: 0.8rem

  .rooms-search--profile
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: top
    padding: 1rem
    .team-tables
      @include make-col(3)
    .team-technology
      @include make-col(3)
    .team-writing
      @include make-col(3)


  .rooms-search--checkboxes
    @include make-col-ready()
    @include make-col(12)
    @include media-breakpoint-down(sm)
      flex-direction: column
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: top

    .filters--list
      @include media-breakpoint-up(sm)
        @include make-col(3)
      @include media-breakpoint-down(sm)
        background-color: red
        @include make-col(12)
        padding-top: 1rem
        border-top: solid




      // @include make-col(4)

  .rooms-search--top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: top
    background-color: $bone
