
@import 'variables'

.buildings-results
  padding: 0 2rem
.buildings-search-bar
  background-color: $heather_blue


.buildings-search-field
  padding: 1rem 0 1rem 0rem


.search-by-building

  margin-bottom: 1rem

.search-by-school-or-college

.rooms-search-selects

.buildings-search-matches
  color: white
  padding-left: 1rem

// .building-badges
//   color: $action-color
//   display: flex
//   flex-wrap: nowrap
//   overflow-x: auto
//   height: auto
//   a
//     position: relative
//     top: 13px
//     right: 1.9rem
//     &:hover
//       text-decoration: none
//       color: transparentize($heather_blue, 0.4)
//
//   .building-badge
//     flex: 0 0 auto
//     font-size: 0.8rem
//     justify-content: center
//     align-items: center
//     text-align: center

.building-badges
.building-badge
