@import 'variables'

.icon
  color: white
  fille: white
polygon
  #Block-M
    fill: red
  stroke: #fff
  &:hover
    fill: red

header
  background-color: $header-background
  a
    color: white
    text-decoration: none
    font-size: $font-size-base * 1.2
  a:hover
    color: transparentize($header-link-color, 0.2)
    text-decoration: none

// .header-brand
//   display: flex
//   align-items: center
//   padding: 1rem
//   .header-logo
//     height: 55px
//   .site-name
//     font-size: $font-size-base * 3
//     padding: 0 0 0 0.5rem
//     position: relative
//     top: 0.5rem

.header-links

  list-style: none

  li
    display: inline
    padding: 0 1rem
