.landing-page--banner
  @apply flex flex-col pt-24 justify-center items-center
  @screen sm
    @apply pt-32
  .landing-page-headline
    @apply text-4xl font-semibold -mt-4 shadow-lg tracking-wide leading-relaxed text-blue-100

.landing-page--brand
  @apply relative
  img
    @apply w-auto max-w-sm mb-2 shadow-lg
/* The hero image */
.hero-image
  background-image: url("../images/vistas/cube.jpg")
  /* Set a specific height */
  height: 70vh
  /* Position and center the image to scale nicely on all screens */
  @apply bg-top bg-no-repeat bg-cover -mt-20 z-0 -mx-10

.bg-smoke-dark
  background-color: hsla(210, 41, 28, 0.8)

.pages
  @apply p-4 text-gray-800
  p
    @apply mb-2
  h1
    @apply text-2xl font-light
  h2
    @apply text-xl .font-normal py-2

.search-form--button
  @apply bg-blue-500 px-5 py-2 rounded-r-lg self-center -ml-1 h-10 z-50
  &:hover
    @apply bg-blue-300

.pages
  @apply  mt-16

.legacy-crdb
  @apply -mt-48 shadow-xl p-4  bg-blue-100 border-2 border-blue-600 rounded-lg text-base w-5/6 mx-auto
  h1
    @apply text-2xl font-semibold text-blue-800
  @screen md
    @apply w-4/6 max-w-5xl

  a
    @apply  px-1 -mx-1 underline font-bold
    &:hover
      @apply text-blue-800

.layout-button
  @apply flex flex-row bg-blue-200 border border-blue-400 rounded p-1 w-32 text-center justify-center text-xs self-center mx-auto my-1
  .grid-layout
    @apply rounded-l px-2 bg-green-100 w-full
  .list-layout
    @apply rounded-r px-2 bg-green-100 w-full
  .active-layout
    @apply bg-green-500

.search-filters-2
  @apply bg-blue-800 p-2 flex flex-col h-auto fixed w-screen z-30
  top: 64px
  @screen sm
    @apply
  @screen md
    @apply
  @screen lg
    @apply
  @screen xl
    @apply  pt-10 w-64 inline-block relative z-0 px-0
.additional-filters
  @apply py-1
  .buttons
    @apply flex flex-row justify-between w-screen text-blue-200  text-sm px-4

.sort-options
  @apply px-4
  @screen xl
    @apply absolute mt-1
    right: 1rem
    top: 10rem
.sort-options-selections
  @apply bg-blue-200 relative w-auto  absolute p-2 rounded-lg mt-2 z-40
  right: 1rem
.filters-toggle
  @screen xl
    @apply inline-block overflow-y-auto max-w-full w-full bg-green-800 -mr-2

.additional-filters-button
  @apply flex font-light
  svg
    @apply h-5 w-5 fill-current
  @screen xl
    @apply hidden

#rooms-results
  @apply relative inline-block
  top: 200px
  @screen xl
    @apply top-0 mt-20 pt-6

.leaflet-marker-pane
  img
    @apply w-3

.choices__list.choices__list--multiple
  .choices__item.choices__item--selectable
    @apply bg-blue-700 border-blue-700
    &:hover
      @apply bg-blue-800

.no-matches-notice
  @apply p-8 bg-blue-300 mt-10 rounded-lg border w-2/3 mx-auto flex flex-col text-blue-800 text-center text-3xl font-semibold

.reset-filters
  @apply mx-auto p-3 rounded-full bg-green-200  text-center text-xl whitespace-no-wrap w-full max-w-xs mt-12 font-bold
  a
    @apply text-green-800
  &:hover
    @apply bg-green-400 text-green-900

.choices__inner
  @apply bg-blue-400 p-0 min-h-0 h-8 justify-center w-full

.choices__list--multiple > .choices__item
  @apply bg-blue-400 text-blue-100 px-2 border-0 z-40 -mt-2
  &:hover
    @apply bg-blue-500
  &:active
    @apply bg-blue-500

.search-input *
  .choices__list--dropdown
    @apply bg-blue-100 text-blue-800 z-40 w-auto
    .choices__item
      text-transform: capitalize
      &:hover
        @apply bg-blue-300

.search-input
  @apply
  input
    @apply p-0
.choices
  @apply
  .choices__inner
    @apply bg-blue-100 p-0 w-full rounded-full min-h-0 h-8
    .choices__input
      @apply bg-blue-100 text-blue-800 font-semibold -mt-1 align-middle ml-1 h-10 w-full
      input
        @apply justify-center align-middle self-center
  @screen xl
    @apply w-48
.landing-page-search-submit
  @apply p-1 px-3 rounded-full bg-blue-300 -ml-20 z-50 text-blue-700
  &:hover
    @apply bg-blue-400 text-blue-800
    input
      @apply bg-blue-400 text-blue-800
  &:focus
    @apply bg-blue-100
  input
    @apply bg-blue-300 text-blue-700 h-full

.search-field-container
  @apply flex flex-wrap  my-1 p-2 w-full
  .search-field-svg
    @apply  absolute inset-y-0 left-0 flex items-center pl-1
    svg
      @apply h-6 w-6 fill-current
      @screen xl

.pages * .search-form
  @apply w-5/6 mx-auto
.pages * .search-input
  @apply w-full pl-12

.search-input
  @apply rounded z-40 w-auto px-8 max-w-3xl h-8
  width: 400px
  @screen xl
    @apply w-96

.capacaity-college
  @apply p-4
  @screen md
    @apply flex flex-row justify-between
  @screen lg
    @apply flex-col
  @screen xl
    @apply flex-col pr-8

.filter-by-building
  @apply flex flex-row w-full align-middle my-auto
  @screen md
    @apply w-3/4

  .filters-section-header
    @apply text-blue-100

.matches
  @apply text-yellow-500 text-sm font-semibold ml-0 justify-center align-middle self-center

.filter-by-capacity
  @apply  w-full flex justify-start
  @screen md
    @apply w-1/2 justify-start pl-8
  @screen lg
    @apply w-full pl-4 pb-4
  @screen xl
    @apply w-full flex flex-row justify-start  p-4 align-middle

.capacity-sliders
  @apply w-2/3
  @screen md
    @apply w-1/2
  @screen lg
    @apply w-full
  @screen xl
    @apply justify-start w-full p-0

.filters-section-header
  @apply whitespace-no-wrap

.view-more-link
  @apply text-red-500 z-50 ml-10