.landing-page--banner
  @apply flex flex-col pt-48 justify-center items-center
  @screen sm
    @apply pt-56
  .landing-page-headline
    @apply text-4xl font-semibold -mt-4 shadow-lg tracking-wide leading-relaxed text-blue-100

.landing-page--brand
  @apply relative
  img
    @apply w-auto max-w-sm mb-2 shadow-lg
/* The hero image */
.hero-image
  background-image: url("../images/vistas/cube.jpg")
  /* Set a specific height */
  height: 60vh
  /* Position and center the image to scale nicely on all screens */
  @apply bg-top bg-no-repeat bg-cover -mt-20 z-0 -mx-10


.bg-smoke-dark
  background-color: hsla(210, 41, 28, 0.8)

.pages
  @apply p-4 text-gray-800
  p
    @apply mb-2
  h1
    @apply text-2xl font-light
  h2
    @apply text-xl .font-normal py-2

.search-form--button
  @apply bg-blue-500 px-5 py-2 rounded-r-lg self-center -ml-1
  &:hover
    @apply bg-blue-300

.pages
  @apply  mt-16

.legacy-crdb
  @apply mt-10  p-4 bg-blue-200 border border-blue-300 rounded-lg text-sm w-full mx-auto
  h1
    @apply text-lg font-semibold
  @screen md
    @apply w-1/2 max-w-3xl
    h1
      @apply text-xl

.layout-button
  @apply flex flex-row bg-blue-200 border border-blue-400 rounded p-1 w-32 text-center justify-center text-xs self-center mx-auto my-1
  .grid-layout
    @apply rounded-l px-2 bg-green-100 w-full
  .list-layout
    @apply rounded-r px-2 bg-green-100 w-full
  .active-layout
    @apply bg-green-500

.layouts
  @apply w-full
  .active-layout
    @apply visible


.search-filters-2
  @apply bg-gray-500 p-2 flex flex-col
  @screen sm
    @apply bg-yellow-600
  @screen md
    @apply bg-blue-700
  @screen lg
    @apply

  .search-filters-container
    @apply flex flex-wrap text-blue-100 text-sm max-w-4xl px-4
    @screen md
      @apply text-base
    .filter-by-capacity
      @apply  w-1/2 whitespace-no-wrap
      @screen sm
        @apply w-1/4
      .dropdown-content
        @apply z-50 p-4 bg-white text-blue-500 w-1/2
    .filter-by-building
      @apply w-1/2 whitespace-no-wrap
      @screen sm
        @apply w-1/4
    .filter-by-school-or-college
      @apply w-1/3 whitespace-no-wrap
      @screen sm
        @apply w-1/4
    .additional-filters
      @apply w-1/2 whitespace-no-wrap
      @screen sm
        @apply w-1/4

  .search-field-container
    @apply flex flex-wrap justify-start align-middle px-2 max-w-full
    @screen sm
      @apply
    .search-input
      @apply mr-4
      input
        @apply block w-full bg-blue-100 text-blue-900  pl-0 py-2 -ml-2 w-96  h-8
        &:focus
          @apply outline-none  bg-yellow-200  text-gray-900
        @screen lg
          @apply truncate
    .matches
      @apply  self-center text-yellow-500 text-sm font-semibold ml-0
      @screen sm
        @apply


    .sort-options
      @apply self-center text-gray-900 float-right

.dropdown
  @apply relative

.dropdown-content
  @apply absolute