@import 'variables'

.characteristic
  @apply .flex .items-center .justify-center .text-gray-700 .font-semibold .border-2 .text-xs .border-gray-100 .rounded-full .h-6 .w-6
  &:hover
    @apply .bg-indigo-500
    color: white

$hero-nav-badge-size: 8rem

.header-logo
  height: 55px
.landing-page--banner
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-top: 12rem
  h1
    @apply text-blue-500
  .landing-page--brand
    padding: 1rem
    a
      color: $um_blue
      &:hover
        text-decoration: none
        color: transparentize($um_blue, 0.2)
    .header-logo
      height: 55px
    .site-name
      position: relative
      bottom: 1rem
      font-size: $font-size-base * 4
      padding: 0 0 0 1rem

/* The hero image */
.hero-image
  background-color: $angell_hall_ash

  background-image: url("../images/vistas/Burton_Winter.jpg")
  /* Set a specific height */
  height: 60vh
  /* Position and center the image to scale nicely on all screens */
  background-position: top
  background-repeat: no-repeat
  background-size: cover

.landing-page--search-bar
  @apply bg-blue-100 rounded-lg flex flex-col items-stretch  p-6 relative mx-10

.landing-page-search-group
  @apply flex flex-wrap items-stretch w-full mb-4 relative

.landing-page-search-field
  @apply flex-shrink flex-grow flex-auto leading-normal w-1/2 flex-1 border h-10 border-gray-100 rounded rounded-r-none px-8 relative shadow-lg

.landing-page-search-button
  span
    @apply bg-red-500  flex items-center leading-normal bg-green-500 rounded rounded-l-none border border-l-0 border-gray-100 px-3 whitespace-no-wrap text-white text-sm h-10 -ml-2 shadow-lg
  .SearchMe
    @apply text-white text-xl bg-transparent
.landing-page-search-dropdowns
  @apply flex flex-row justify-around px-8 h-10

.landing-page-filter-by-button
  @apply bg-blue-100 px-4 py-2 rounded-full
  &:hover
    @apply bg-blue-100
