.room-show
  @apply

.room-layout
  @apply mx-auto bg-blue-100 p-4
  h3
    @apply text-xl
  img
    @apply w-auto mx-auto bg-white mt-4 rounded-lg
  @screen sm
    img
      @apply p-4

.layout-modal-container
  @apply bg-gray-300 w-full overflow-y-scroll
.layout-modal-inner-container
  @apply  max-h-screen w-full max-w-3xl relative mx-auto

.layout-modal-wrapper
  @apply m-1 bg-white rounded shadow text-left p-8

.modal-footer
  @apply p-0
  img
    @apply p-0
  nav
    @apply flex flex-row justify-between

.layout-footer-mi-locations-logo
  @apply w-64
  img
    @apply bg-gray-500
.layout-close
  @apply absolute top-0 right-0 mt-1 mr-3

.layout-print
  @apply absolute bottom-0 right-0 mt-4 mr-3 px-1 text-blue-800 rounded
  &:hover
    @apply bg-blue-100 text-blue-700

.room-banner
  @apply  overflow-hidden h-80
.room-map
  @apply  min-w-full w-full bg-blue-200 h-80

#mapid
  @apply min-w-full z-0 min-h-full h-80
  img
    @apply border-none p-0

.room-show-image
  img
    @apply w-full object-fill

#panorama
  @apply  h-64  bg-green-300
  .pnlm-preview-img
    background-size: 360%

.rooms-map
  @apply h-64 min-w-full -mt-3


.room-info-pane
  @apply  flex flex-col bg-blue-100 p-8

  .info
    @apply flex flex-col w-full
    @screen sm
      @apply flex-row
    .left
      @apply  w-full list-none
      @screen sm
        @apply w-1/2
    .right
      @apply  w-full list-none
      @screen sm
        @apply w-1/2 text-right

.room-name-address
  @apply text-2xl font-semibold text-gray-800 leading-tight mb-4
  .room-department
    @apply text-base text-gray-600 font-light
.rmrecnbr
  @apply text-base text-gray-600 inline-block
.room-support-info
  @apply py-4 flex flex-col
  @screen md
    @apply flex-row justify-between
  h3
    @apply text-xl underline leading-relaxed mb-2

.features-group
  @apply flex flex-col
  @screen sm
    @apply flex-row h-32
  @screen lg
    @apply h-20

.room-features
  @apply   bg-blue-200
  h2
    @apply text-2xl uppercase font-light text-gray-800 text-left ml-8 mb-2 inline-block max-w-sm w-64

.room-char-description
  @apply

.secondary-features
  @apply  bg-yellow-100 flex-row
  @screen sm
    @apply flex flex-wrap

  h2
    @apply text-2xl uppercase font-light text-gray-800 text-left ml-8

  .features-group
    @apply  flex flex-col h-auto
    @screen sm
      h2
        @apply truncate
    @screen md
      @apply
      h2
        @apply my-2 text-2xl
  .team-learning
    @apply flex-col w-auto
    @screen sm
      @apply w-1/3


  .writing-surfaces
    @apply flex-col w-auto
    @screen sm
      @apply w-1/3

  .projection
    @apply flex-col w-full
    @screen sm
      @apply w-1/3
.room-chars
  @apply   w-full ml-4 flex flex-col
  @screen sm
    @apply flex flex-wrap

.room-char
  @apply  block px-5 text-left text-blue-800 font-light mb-2


.rooms-map-toggle
  @apply bg-gray-300 px-2 rounded-full text-center justify-center mx-auto w-20 text-blue-700 shadow border border-gray-400 sticky bottom-0 opacity-75
  bottom: 20px

  &:hover
    @apply bg-blue-400 text-blue-800

.room-map-toggle
  @apply pl-4 bg-blue-100 relative  w-24 rounded-full float-right mr-20 text-center inline-flex  text-blue-700 opacity-100 z-50 -mt-6
  top: 200px
  svg
    @apply fill-current mr-1 self-center
  &:hover
    @apply bg-blue-200
  .close-map
    @apply z-50 text-yellow-800
