.rooms-search-bar
  @apply bg-blue-100 h-full w-screen

.rooms-search-field
  padding: 1rem 0 1rem 0rem
  input
    @apply w-full h-12

.search-by-building
  margin-bottom: 1rem

.search-by-school-or-college

// ROOMS SEARCH
.rooms-search-bar
  @apply bg-blue-800 rounded-lg flex flex-col items-stretch  relative w-full my-4 p-4
  .row
    @apply flex flex-row justify-between

.rooms-search-filters-toggle
  @apply text-white
  svg
    @apply text-xl ml-4

.rooms-search-matches
  @apply text-white

// .rooms-card
//   background-color: transparentize($bone, 0.5)
//   margin: 1rem

.rooms-building-badge
  font-size: 0.8rem

.rooms-index-cards
  @apply flex inline-flex w-full overflow-x-scroll scrolling-touch

  @screen md
    @apply flex-col

.rooms-index-card
  @apply  bg-gray-400  mx-auto rounded-lg shadow-lg bg-cover  m-1 flex flex-col justify-around
  min-height: 375px
  min-width: 300px
  @screen md
    @apply min-h-0
.actions
  @apply flex flex-row w-full justify-between bg-gray-800 text-sm block text-center

.rooms-index-name
  @apply text-xl float-left text-blue-100  p-2 flex flex-col

.room-image
  @apply mx-auto rounded-t-lg overflow-hidden shadow-lg bg-cover h-32 w-full bg-center
  @screen md
    @apply h-32

.rooms-index-card-building-badge
  @apply bg-blue-700 h-16 w-16 rounded-full mx-auto text-blue-500 -mt-12 shadow-md mx-auto flex border border-blue-200
  @screen sm
    @apply h-16 w-16 -mt-8
  @screen md
    @apply ml-2 h-12 w-12

  img
    @apply rounded-full h-24 w-24 shadow-xl
    @screen sm
      @apply h-16 w-16
    @screen md
      @apply h-12 w-12

  .room-builiding-abbreviation
    @apply h-24 w-24 rounded text-blue-800 p-6 text-center ml-2 bg-no-repeat bg-center bg-no-repeat self-center justify-center text-center bg-cover
    @screen md
      @apply ml-0 h-8 w-8

  .bg-badge
    background-size: 80% auto

.button
  @apply inline-flex rounded-full items-center shadow-lg  cursor-pointer px-4 py-1 justify-center bg-blue-200 text-blue-800 my-2
  @screen md
    @apply px-2 py-0 text-base w-auto mx-3
  &:hover
    @apply bg-blue-300 text-blue-900
  > span
    @apply hidden
    @screen md
      @apply block
  svg
    @screen md
      @apply mr-2






.rooms-room-directions-button
  // @apply bg-green-200  text-green-900
  // &:hover
  //   @apply bg-green-300 text-green-800
.rooms-room-schedule-button
  svg
    @apply
.rooms-room-copy-button

.rooms-room-alerts-button
  @apply bg-red-200 text-red-800
  svg
    @apply ml-2
.rooms-room-alerts-count
  @apply bg-green-500 rounded-full mr-2 w-5 h-5 text-red-100 text-sm

.rooms-index-rows-header
  @apply flex flex-row

.rooms-index-rows
  @apply bg-gray-100

.rooms-index-row
  @apply flex flex-row text-lg py-2 bg-blue-200 my-3

.rooms-index-row-info
  @apply flex flex-row bg-green-400

.rooms-index-row-bottom
  @apply flex flex-row

.rooms-index-row--tools
  @apply bg-pink-800 flex-col items-center

.rooms-index-row-name
  @apply mx-auto w-1/3

.rooms-index-row-capacity
  @apply mx-auto

.rooms-index-row-facility-code-heprod
  @apply mx-auto

.rooms-index-row-calandar-url
  @apply mx-auto

.rooms-index-row-copy-button
  @apply mx-4 text-sm text-blue-500 px-2 bg-gray-100 rounded align-middle self-center
  &:hover
    @apply bg-gray-300 text-blue-900 shadow

.rooms-index-row-team-learning
  @apply  w-1/3

.layout-select-nav
  @apply inline-flex
  button
    @apply bg-gray-100 text-gray-900 font-bold py-2 px-4
    &:hover
      @apply bg-gray-500
    svg
      @apply mx-2

  .show-filters-on
    @apply hidden

.toggler-nav
  @apply flex flex-row
  .toggle-button
    @apply p-1 mx-1

.layouts
  @apply flex flex-row items-center relative
  width: 7rem
  .layout
    @apply py-1 px-4 bg-gray-400
    &:hover
      @apply bg-gray-500

  .selected
    @apply bg-red-500

.row-image-well
  @apply w-24

.feature-callouts
  @apply px-4 py-4 bg-red-300 flex flex-row justify-around
  @screen md
    @apply flex-wrap
.feature-callout
  @apply  text-gray-800 flex flex-row
  svg
    @apply mt-1 mr-1
  @screen sm
    @apply text-sm inline-block