//Toggle Styles
.toggle-label
  @apply cursor-pointer block w-auto  min-w-full
  @screen xl
    @apply


.toggle-input
  display: none //Hide input element
  &:not(checked) ~ .toggle-content
    display: none //Hide content

//Display content when checkbox is "checked"
.toggle-input:checked
  ~ .toggle-content
    @apply block
  ~ .toggle-label

    &:after
      content: "-" //Change label's '+' to '-' when checked
  ~ .toggle-label
    @apply bg-yellow-200 rounded-b-none text-blue-900 font-bold

// My overrides
.toggle-label
  @apply px-2 rounded-none border
  &:hover
    @apply bg-blue-400 text-blue-900
