.layout-toggle
  .layout-button.active.rounded-l{ data: {target: "layout.list"} }
    %button{data: {action: "layout#list"} }
      %i.fas.fa-list
  .layout-button.rounded-r{ data: {target: "layout.grid"} }
    %button{data: {action: "layout#grid" } }
      %i.fas.fa-th
