.rooms-results{"data-controller" => "layout" }
  .layouts
    .display-layout
    .layout.rounded-l-lg

      %button{"data-action" => "layout#list"}
        %i.fas.fa-list
    .layout
      %button{"data-action" => "layout#grid"}
        %i.fas.fa-th
    .layout.rounded-r-lg
      %button{"data-action" => "layout#map"}
        %i.fas.fa-map
