= button_to toggle_visibility_path(room), remote: true do
  - if room.visible?
    .icon= render "icons/toggle-on_icon", cached: true
  -else
    .icon= render "icons/toggle-off_icon", cached: true

  = room.visible ? "visible" : "hidden"
