= search_form_for @q, url: search_rooms_path, html: { method: :post } do |f|
  .rooms-search-bar

    .rooms-search-group
      = f.search_field :facility_code_heprod_or_building_name_or_building_nick_name_or_building_abbreviation_cont, class: 'rooms-search-field', "aria-describedby" => "Search by building name or nick name", "aria-label" => "Search by building name or nick name", :placeholder => "Search by building name or nick name", :type => "text"
      .rooms-search-button

        %i.fas.fa-filter
        Filters
    .rooms-search-selects
      .col.ml-2
        %select.form-control.form-control-sm.search-by-building
          %i.fas.fa-building
          %option
            Search By Building
      .col.mr-2
        %select.form-control.form-control-sm.search-by-school-or-college
          %option
            %i.fas.fa-project-diagram
            Search By School or College
    .row
      .rooms-search-matches
        = "#{@q.result.size} Matches"
      .rooms-search-filters-toggle
        .rooms-search-filters-toggle-on
          Toggle Filters On
          %i.fas.fa-toggle-on
        .rooms-search-filters-toggle-off
          Toggle Filters Off
          %i.fas.fa-toggle-off