-# #rooms-results
  .rooms-index-cards
    = render partial: "rooms_index_card", collection: @rooms, as: :room, cached: true

-# #rooms-results
#rooms_found.hidden
  =@rooms_json
.rooms-cards
  #map.rooms-map.hidden{ "data-target" => "toggle.roomsmap" }
    Map Goes Here
  = render partial: "rooms_index_card2", collection: @rooms, as: :room, cached: true

.rooms-map-toggle{"data-action" => "click->toggle#roomsmaptoggle"}

  %i.fas.fa-map
  Map