%search.rooms-search{data: {controller: "toggle", controller: "dropdown" }}
  -# = render './search/search_filters', cached: true
  = render './search/search_filters', cached: true
  #filter-tools{ data: { "toggle-class" => "active-layout"}}
    -# = render 'filter_tools'

    #rooms-results{data: {controller: "toggle", controller: "infinite_scroll", target: "infinite_scroll.scrollcontainer"}}= render 'rooms_results', cached: true
