- content_for :head do
  = javascript_pack_tag 'search', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'rooms_maps', 'data-turbolinks-track': 'reload'
%search.rooms-search{ "data-controller" => "toggle"}
  = render './search/search_filters'

  .rooms-map.hidden{ "data-target" => "toggle.roomsmap" }
    Map Goes Here
  -# #map.rooms-map.h-64
    Our sincerest appologies. Something is amiss, but fear not, we shall find the culpret and address it soon.
  #rooms-results= render 'rooms_results'
