%search.rooms-search{data: {controller: "toggle", controller: "dropdown" }}
  = render './search/search_filters', cached: true

#rooms-results{data: {controller: "toggle infinite-scroll"}}
  = render 'rooms_results', cached: true