var results = document.getElementById("rooms-results")
results.innerHTML = "#{escape_javascript render('rooms_results')}"
results = undefined;

let roomCards = document.getElementById("rooms-cards")
roomCards.append("<%=j render(partial: 'rooms_index_card2', collection: @rooms, as: :room) %>");
roomCards = undefined;

let matches = document.getElementById("rooms-search-matches")
matches.innerHTML = "#{escape_javascript pluralize(@results.size, 'Match')}"
matches = undefined;
