- content_for :head do
  = javascript_pack_tag 'search', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'rooms_maps', 'data-turbolinks-track': 'reload'
.xl:flex-1.xl:flex.xl:overflow-y-hidden{ "data-controller" => "toggle"}
  = render './search/search_filters'

  #map.h-64
    This will be an amazing race...
  = render 'rooms_results'
