-# %header
-#   = link_to root_path, class: '' do
-#     = image_tag(asset_pack_path('media/mi_locations/images/MiLocationsNamePlate.svg'), alt: 'MiLocations Logo, link to home page.', class: 'header-logo')

-#   %nav.header-links

-#     = link_to "Buildings", buildings_path
-#     = link_to "Classrooms", rooms_path
-#     = link_to "Rooms", rooms_path
-#     / %li= link_to "About", about_path
-#     / %li= link_to "Contact Us", contact_path
-#     / %li= link_to "Privacy", privacy_path


%div.xl:flex-shrink-0{ "data-controller" => "toggle"}
  = render './search/site_header'